.users__list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  &__btn {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
  }
  &-item {
    padding: 10px 15px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #9e9e9e;
    border-radius: 16px;
    box-shadow: 1px 1px 1px #bdbdbd;
    box-sizing: border-box;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    span {
      margin-top: 10px;
      font-size: 14px;
      color: #424242;
      &:first-child {
        font-size: 26px;
      }
    }
    a {
      margin-top: 20px;
    }
  }
}